<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229124837314-lt1f50jsh8ajcofbnjmik4lrm9u07q4l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229124837314-lt1f50jsh8ajcofbnjmik4lrm9u07q4l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>229124837314-4mq3fp7t6292tgbefl3fsvfd51bkf531.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-skK584imakDNulNu4SFNsc-Uyz1Lf1A</string>
	<key>GCM_SENDER_ID</key>
	<string>229124837314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.iteso.cookiecookie</string>
	<key>PROJECT_ID</key>
	<string>recipes-f413e</string>
	<key>STORAGE_BUCKET</key>
	<string>recipes-f413e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229124837314:ios:87da028d68a1cb7a0f105b</string>
</dict>
</plist>